.serviceInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  color: #8a777c;
  font-size: 14px;
}
.categories {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.serviceSlots {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
}
