@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --background: #e7e7e7;
  --muted-foreground: #c6c6c6;
  --white: #fff;
  --primary: #d9a0a6;
  --black: #000;
  --hover: #ca8e93;
  --pressed: #d68b92;
  --footer: #202020;
  --disabled: #dbc7c9;
  --body: rgba(231, 231, 231, 0.18);
  --category-pressed: rgba(217, 160, 166, 0.48);
  --error: #f00;
  --body: #ababab;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 60px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.no-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 32px;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 16px;
  }
}
